$main-color : rgba(255,255,100,0.2);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.carouselItem {
  height: 100vh;
  width: 100vw;
}
.carouselImage {
  background-color: $main-color; 
  max-width: 100%;
  height: auto;
  opacity:0.4;
}