$main-color : rgba(100,100,100,0.8);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.carouselItem {
  height: 100vh;
  width: 100vw;
  align-self: center;
  background-color: $main-color;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('../img/github-logo.png');
}
.carouselLink {
  height: 400px;
  width: 400px;
}